.Genres, .hidden {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80vh;
    margin-right: 3rem;
    transition: all .5s ease;
    grid-column: 2/3;
    border-bottom: 1px solid white;
}

.Genres span {
    cursor: pointer;
    display: block;
    margin-bottom: .75rem;
}

.Genres_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 75%;
}

.hidden {
    z-index: -1;
    opacity: 0;
    margin-right: 0;
    transition: all .25s ease;
}

.active {
    color: orange;
}

.no_active {
    color: #ffffff;
}