.Movie, .hidden {
    position: absolute;
    top: 0;
    width: 80%;
    height: 85vh;
    margin-right: 3rem;
    transition: all .5s ease;
    overflow-y: scroll;
}

.Movie_info,
.Movie_poster {
    width: 100%;
}

.Movie_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.Movie_poster {
    margin-bottom: 1rem;
}

.Movie_poster img {
    margin: 0 auto;
    width: 80%;
}

.Movie_info h2,
.Movie_info p,
.Movie_info span,
.Movie_info a {
    color: #cfcfcf;
    display: inline-block;
    text-align: left;
    margin-bottom: 1rem;
    width: 80%;
}

.Movie_info span {
    margin-bottom: .75rem;
}

.Movie_info a {
    color: orange;
}

.Movie .Companies,
.Movie .Countries {
    display: inline;
    width: auto;
}

.hidden {
    z-index: -10;
    opacity: 0;
    margin-right: 0;
    transition: all .25s ease;
}