h1 {
    display: block;
}

.Year, .hidden {
    /*border: 1px solid white;*/
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 85%;
    height: 85vh;
    margin-right: 3rem;
    transition: all .5s ease;
    grid-column: 1/2;
}

.Year_list {
    overflow-y: scroll;
    text-align: center;
    width: 50%;
    height: 50vh;
}

.Year_number,
.Year_number_active {
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    margin-bottom: .75rem;
}

.Year_number_active {
    color: orange;
}

.hidden {
    z-index: -1;
    opacity: 0;
    margin-right: 0;
    transition: all .25s ease;
}